<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="row">
        <div class="col-3">
            <div class="title">
                <h3>Device Management</h3>
            </div>
            <nav>
                <ul class="menu">
                    <li class="menu-item"><a href="">Dashboard</a></li>
                    <li class="menu-item"><a href="">Logs</a></li>
                    <li class="menu-item"><a href="">Settings</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-9">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="row-content">
                <div class="col-5">
                    <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
                </div>
                <form action="" class="col-7">
                    <div class="input-dashboard">
                        <input type="text" id="name" placeholder="name">
                        <label for="" class="error" id="name-error"></label>
                    </div>
                    <div class="input-dashboard">
                        <input type="text" id="ip" placeholder="ip">
                        <label for="" class="error" id="ip-error"></label>
                    </div>
                    <div class="btn">
                        <button type="submit">Add device</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="../js/dashboard.js"></script>
    <script>
        console.log(a);
    </script>
</body>
</html>